OPENAI_API_KEY=
TELEGRAM_BOT_TOKEN=
VECTOR_STORE_ID=
INVENTORY_CSV_PATH=data/inventories.csv
REQUIRE_MENTION_IN_GROUP=1
SUPPORT_TAGS=@username1 @username2
FINANCE_TAG=@username3
CS_TAGS=@username1 @username2
EMPLOYEE_USERNAMES=username1,username2,username3
